.graph {
  margin: auto;
  height: 200px;
  width: 100%;
  background-color: #3fc1c9;
  position: relative;
}

.butt {
  color: #f2f2f2;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.butt:hover {
  color: #fc5185;
  text-decoration: underline;
}

.position {
  display: inline-flex;
  margin-left: calc(50% - 125px);
  transform: scaleY(-1);
  bottom: 0px;
  position: absolute;
}

.bar {
  margin: 10px 3px;
  padding: 10px;
  border: 1px solid black;
  background-color: #f2f2f2;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #364f6b;
  height: 100%;
  width: 100%;
}

.algos {
  text-align: center;
}

.algo {
  margin: 10px;
}

.randomizer {
  margin-bottom: 10px;
  text-align: center;
}
